<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.inputs do %>
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :email %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%= f.input :password, label: '<i>(leave blank if you don't want to change it)</i>', autocomplete: 'off' %>
    <%= f.input :password_confirmation, autocomplete: 'off' %>
    <%= f.input :current_password, label: '<i>(we need your current password to confirm your changes)</i>', required: true, autocomplete: "off" %>
    <%= f.actions { f.action :submit, label: 'Update' } %>
  <% end %>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete %></p>

<%= link_to 'Back', :back %>
