<h2>Sign up</h2>

<%= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.inputs do %>
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :email, required: true %>
    <% label = @validatable ? "Password (#{@minimum_password_length} characters minimum)" : 'Password' %>
    <%= f.input :password, label: label, required: true, autocomplete: 'off' %>
    <%= f.input :password_confirmation, required: true, autocomplete: 'off' %>
    <%= f.actions { f.action :submit, label: 'Sign up' } %>
  <% end %>
<% end %>

<%= render "devise/shared/links" %>
