<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @user.unconfirmed_email.present? %>
  <p>
    <strong>Unconfirmed email:</strong>
    <%= @user.unconfirmed_email %>
  </p>
<% end %>

<% if @user.time_zone.present? %>
  <p>
    <strong>Time zone:</strong>
    <%= @user.time_zone %>
  </p>
<% end %>

<% if @user.currency.present? %>
  <p>
    <strong>Preferred currency:</strong>
    <%= @user.currency_name %>
  </p>
<% end %>

<%= link_to profile_edit_path do %>
  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&ensp;Edit
<% end %>
