<% @campaigns.each do |campaign| %>
	<h3>
    	<%= link_to campaign.name, campaign %>
    	<%= " (ends #{campaign.finish})" if campaign.finish %>
    </h3>
  	<div><%= campaign.description.html_safe %></div>
  	<ul>
		<% campaign.offers.where('finish IS NULL OR finish >= NOW()').order(:finish, :name).each do |offer| %>
	    	<li>
                <%= link_to offer.name, offer %>
                <%= " (ends #{offer.finish})" if offer.finish %>
      		</li>
  		<% end %>
  	</ul>
<% end %>
