<% @campaigns.each do |campaign| %>
	<h3>
    	<%= link_to campaign.name, campaign %>
    	<%= " (ends #{campaign.finish})" if campaign.finish %>
    </h3>
  	<div><%= campaign.description.html_safe %></div>
  	<ul>
		<% campaign.offers.where('expiry IS NULL OR expiry >= NOW()').order(:expiry, :name).each do |offer| %>
	    	<li>
                <%= link_to offer.name, offer %>
                <%= " (expires #{offer.expiry})" if offer.expiry %>
      		</li>
  		<% end %>
  	</ul>
<% end %>
