<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<% if @customer.country.present? then %>
  <p>
    <strong>Country:</strong>
    <%= @customer.country_name %>
  </p>
<% end %>

<p>
  <strong>Postcode:</strong>
  <%= @customer.postcode %>
</p>

<% if @customer.customer_discounts.present? then %>
  <div>
    <strong>Discounts:</strong>
    <ul>
    <% @customer.customer_discounts.by_name.each do |cd| %>
      <li><%= cd.discount.name %><%= " (expires #{I18n.l cd.expiry, format: :long})" if cd.expiry %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @customer.subscriptions.present? then %>
  <strong>Subscriptions:</strong>
  <div class="list-group">
    <% @customer.subscriptions.by_name.each do |s| %>
      <% text = s.publication.name %>
      <% text += " (expires #{I18n.l s.expiry, format: :long})" if s.expiry %>
      <%= link_to text, s.publication.website, target: :_blank, class: 'list-group-item' %>
    <% end %>
  </div>
<% end %>

<%= link_to edit_customer_path(@customer) do %>
  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&ensp;Edit
<% end %>
