<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Country:</strong>
  <%= @customer.country_name %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @customer.postcode %>
</p>

<p>
  <strong>Preferred currency:</strong>
  <%= @customer.currency_name %>
</p>

<% if @customer.customer_discounts.present? then %>
  <div>
    <strong>Discounts:</strong>
    <ul>
    <% @customer.customer_discounts.by_name.each do |cd| %>
      <li><%= cd.discount.name %><%= " (expires #{cd.expiry})" if cd.expiry %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @customer.customer_publications.present? then %>
  <div>
    <strong>Publications:</strong>
    <ul>
    <% @customer.customer_publications.by_name.each do |cp| %>
      <li><a href="<%= cp.publication.website %>"><%= cp.publication.name %></a>
        <%= " (expires #{cp.expiry})" if cp.expiry %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
