<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<% if @customer.country.present? then %>
  <p>
    <strong>Country:</strong>
    <%= @customer.country_name %>
  </p>
<% end %>

<p>
  <strong>Postcode:</strong>
  <%= @customer.postcode %>
</p>

<% if @customer.currency.present? then %>
  <p>
    <strong>Preferred currency:</strong>
    <%= @customer.currency_name %>
  </p>
<% end %>

<% if @customer.customer_discounts.present? then %>
  <div>
    <strong>Discounts:</strong>
    <ul>
    <% @customer.customer_discounts.by_name.each do |cd| %>
      <li><%= cd.discount.name %><%= " (expires #{cd.expiry})" if cd.expiry %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @customer.subscriptions.present? then %>
  <div>
    <strong>Subscriptions:</strong>
    <ul>
    <% @customer.subscriptions.by_name.each do |s| %>
      <li><a href="<%= s.publication.website %>"><%= s.publication.name %></a>
        <%= " (expires #{s.expiry})" if s.expiry %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
