<%= semantic_form_for [@offer, @purchase] do |f| %>
  <%= f.inputs do %>
    <h4>Customer details</h4>
    <% if current_user && current_user.customers %>
      <%= f.input :customers, as: :check_boxes, label: 'Existing customers',
        collection: current_user.customers.order(:name, :created_at).map { |c| [c.name, c.id]}
       %>
    <% end %>
    <%= f.fields_for @customer do |customer| %>
      <%= render 'customer_fields', f: customer %>
    <% end %>
    <%= f.actions { f.action :submit, label: 'Purchase' } %>
  <% end %>
<% end %>
