<div class="jumbotron">
    <h3><%= @offer.name %></h3>

    <% if @offer.finish then %>
        <div><strong>End date:</strong> <%= I18n.l @offer.finish, format: :long %></div>
    <% end %>

    <div class="row"><div class="col-xs-12">
        <%= @offer.description.html_safe %>
    </div></div>
</div>

<% if @offer.offer_publications.present? then %>
	<% @offer.offer_publications.by_name.each do |op| %>
	<figure class="thumbnail">
		<%= link_to image_tag(op.publication.image.url(:thumb), alt: op.publication.name, size: '110'),
		  op.publication %>
		<figcaption>
		    <%= link_to op.publication.name, op.publication %>
		    <%= " for #{op.subscribers} subscribers" if op.subscribers > 1 %>
            for <%= pluralize(op.quantity, op.unit.downcase) %>
		</figcaption>
	</figure>
	<% end %>
<% end %>

<% included_products = @products.reject(&:optional) %>
<% if included_products.count > 0 then %>
    <% included_products.each do |op| %>
        <figure class="thumbnail">
           <%= link_to image_tag(op.product.image.url(:thumb), alt: op.product.name, size: '110'), op.product %>
           <figcaption>
             <%= link_to op.product.name, op.product %>
             <% if op.product.stock == 0 %><span class="stock-warning">(out of stock)</span><% end %>
           </figcaption>
        </figure>
	<% end %>
<% end %>

<% optional_products = @products.select(&:optional) %>
<% if optional_products.count > 0 then %>
    <p><%= @offer.offer_publications.present? || (included_products.count > 0) ? 'Plus' : 'Choose' %> one of:</p>
    <% optional_products.each do |op| %>
        <figure class="thumbnail">
            <%= link_to image_tag(op.product.image.url(:thumb), alt: op.product.name, size: '110'), op.product %>
            <figcaption><%= link_to op.product.name, op.product %></figcaption>
        </figure>
    <% end %>
<% end %>

<% if @offer.prices.present? then %>
    <div class="row"><div class="col-xs-12">
        <div class="list-group">
        <li class="list-group-item list-group-item-info">Payment options</li>
        <% @offer.prices.each do |price| %>
        <li class="list-group-item"><%= price %> <%= price.first_payment(@offer.trial_period) %></li>
        <% end %>
        </div>
        <% trial_period = @offer.trial_period %>
        <% unless trial_period.nil? or trial_period.zero? then %>
        <p><%= trial_period %> day free trial.  You will not be charged if you cancel before
        <%= I18n.l Time.zone.today + trial_period, format: :long %>.</p>
        <% end %>
    </div></div>
<% end %>

<% if Configuration.provider_terms_url.present? then %>
    <div class="row"><div class="col-xs-12">
        <%= link_to 'Terms and conditions of sale', Configuration.provider_terms_url, target: '_blank' %>
    </div></div>
<% end %>

<div class="row"><div class="col-sm-6"><%= render 'purchase_form' %></div></div>
