<p id="notice"><%= notice %></p>

<h3><%= @offer.name %></h3>

<% if @offer.finish then %>
	<div><strong>End date:</strong> <%= @offer.finish %></div>
<% end %>

<div>
  <strong>Description:</strong>
  <%= @offer.description.html_safe %>
</div>

<% if @offer.offer_publications.present? then %>
	<div>
	<% @offer.offer_publications.by_name.each do |op| %>
	<figure>
		<%= link_to image_tag( op.publication.image.url(:thumb), alt: op.publication.name, size: '100' ),
		    op.publication %>
		<figcaption>
		    <%= link_to op.publication.name, op.publication %> for <%= pluralize(op.quantity, op.unit.downcase) %>
		</figcaption>
	</figure>
	<% end %>
	</div>
<% end %>

<% if @offer.products.present? then %>
	<div>
	  <% @offer.offer_products.where('optional = FALSE').by_name.each do |op| %>
	  <figure>
		<%= link_to (image_tag op.product.image.url(:thumb), alt: op.product.name, size: '100'), op.product %>
		<figcaption><%= link_to op.product.name, op.product %></figcaption>
      </figure>
	  <% end %>
    </div>
    <p>Plus one of:</p>
    <div>
      <% @offer.offer_products.where('optional = TRUE').by_name.each do |op| %>
      <figure>
        <%= link_to (image_tag op.product.image.url(:thumb), alt: op.product.name, size: '100'), op.product %>
        <figcaption><%= link_to op.product.name, op.product %></figcaption>
      </figure>
      <% end %>
	</div>
<% end %>

<% if @offer.prices.present? then %>
    <ul>
    <% @offer.prices.each do |price| %>
      <li><%= price.name %> <%= price.amount %> <%= price.currency %></li>
    <% end %>
    </ul>
<% end %>

<div><%= link_to 'New Customer', new_customer_path %></div>

<div><%= link_to 'Offers', offers_path %></div>
