<p id="notice"><%= notice %></p>

<h3><%= @offer.name %></h3>

<% if @offer.expiry then %>
	<div><strong>Expires:</strong> <%= @offer.expiry %></div>
<% end %>

<div>
  <strong>Description:</strong>
  <%= @offer.description.html_safe %>
</div>

<% if @offer.offer_publications.present? then %>
	<div>
	<% @offer.offer_publications.by_publication_name.each do |op| %>
	<figure>
		<%= link_to image_tag( op.publication.image.url(:thumb), alt: op.publication.name, size: '100' ),
		    op.publication %>
		<figcaption>
		    <%= link_to op.publication.name, op.publication %> for <%= pluralize(op.quantity, op.unit.downcase) %>
		</figcaption>
	</figure>
	<% end %>
	</div>
<% end %>

<% if @offer.products.present? then %>
	<div>
	<% @offer.products.each do |product| %>
	<figure>
		<%= link_to (image_tag product.image.url(:thumb), alt: product.name, size: '100'), product %>
		<figcaption><%= link_to product.name, product %></figcaption>
	</figure>
	<% end %>
	</div>
<% end %>

<% if @offer.prices.present? then %>
    <ul>
    <% @offer.prices.each do |price| %>
      <li><%= price.name %> <%= price.amount %> <%= price.currency %></li>
    <% end %>
    </ul>
<% end %>

<div><%= link_to 'New Customer', new_customer_path %></div>

<div><%= link_to 'Offers', offers_path %></div>
