<p id="notice"><%= notice %></p>

<h3><%= @campaign.name %></h3>

<% if @campaign.start then %>
	<div><strong>Start:</strong> <%= @campaign.start %></div>
<% end %>

<% if @campaign.finish then %>
	<div><strong>Finish:</strong> <%= @campaign.finish %></div>
<% end %>

<div>
  <strong>Description:</strong>
  <%= @campaign.description.html_safe %>
</div>

<div><strong>Offers:</strong>
	<% if @campaign.offers.empty? then %>
		<p>None</p>
	<% else %>
		<ul>
			<% @campaign.offers.each do |offer| %>
			<li><%= link_to offer.name, offer_path(offer) %></li>
			<% end %>
		</ul>
	<% end %>
</div>

<div><%= link_to 'Campaigns', campaigns_path %></div>
