<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @campaign.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @campaign.finish %>
</p>

<p>
  <strong>Description:</strong>
  <%= @campaign.description.html_safe %>
</p>

<%= link_to 'Back', campaigns_path %>
