<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>Start:</strong>
  <%= @campaign.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @campaign.finish %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
