<p id="notice"><%= notice %></p>

<h3><%= @product.name %></h3>

<%= image_tag @product.image.url %>

<div>
  <strong>Description:</strong>
  <%= @product.description.html_safe %>
</div>

<div><strong>Offers:</strong>
	<% if @product.offers.empty? then %>
		<p>None</p>
	<% else %>
		<ul>
			<% @product.offers.each do |offer| %>
			<li><%= link_to offer.name, offer_path(offer) %></li>
			<% end %>
		</ul>
	<% end %>
</div>

<div><%= link_to 'Products', products_path %></div>
