<!DOCTYPE html>
<html>
<head>
  <title>Subscriptus 2 - <%= Configuration.provider_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1><%= image_tag Configuration.provider_logo.url %></h1>
  <h2><%= Configuration.provider_name %></h2>
  <% if notice %><p class="notice"><%= notice %></p><% end %>
  <% if alert %><p class="alert"><%= alert %></p><% end %>

<%= yield %>

</body>
</html>
